<html>
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
  <div class="wrapper">

    <div class="left">
      <%- partial('_partial/sidebar') %>
    </div>

    <div class="right">
      <%- partial('_partial/header') %>

    

    </div>

  </div>

  <!-- After footer scripts -->
  <%- partial('_partial/after-footer') %>

</body>
</html>
