 <div class="categories-post-gn">
  <div class="container-fluid padding-0">
    <div class="row margin-0">
      <div class="col-md-12 padding-0">

        <ul class="categories">
          <li class="category ct-1"><a href="#">categoria 1</a></li>
          <li class="category ct-2"><a href="#">categoria 2</a></li>
        </ul> 

      </div>

      <div class="col-md-12 padding-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                 
      </div>

      <div class="col-md-12 padding-0">
        <a class="mas-info" href="#">ver más</a>
      </div>

    </div>
  </div>
</div>