<div class="graphic">
	<div class="darken"></div>
	<img src="img/banana-split.jpg" alt="">
	<div class="post-name">           
		<div class="name">
			<i class="fa fa-circle circle-left" aria-hidden="true"></i>            
			<p>Lorem ipsum dolor</p>              
			<i class="fa fa-circle circle-right" aria-hidden="true"></i>
		</div>
	</div>
</div>