<div class="post-text margin-top-30">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus magna lacus, suscipit ut euismod tempor, lobortis eget turpis. Curabitur in lacus nisl. Sed in aliquet sem. Morbi ornare magna mi, eget auctor ipsum ultricies quis. Aliquam ultricies, tellus eleifend maximus commodo, sapien arcu tincidunt neque, ac molestie neque magna ut mauris. Praesent justo velit, tempor eget augue et, convallis venenatis nunc. Sed vitae tristique metus. Vivamus vulputate turpis eu massa cursus, ac laoreet dolor elementum. Cras massa neque, varius ac metus quis, semper porta nisl. Nulla lorem purus, porttitor quis ex vitae, fermentum congue ipsum.</p><br>
        <p>Mauris et sollicitudin eros. Vestibulum auctor pharetra laoreet. Proin et ex lacus. Ut quis dui non metus vehicula dignissim eget at tortor. Phasellus et tortor convallis, pretium lacus dictum, condimentum velit. Etiam vulputate nibh quis egestas gravida. Nunc congue mi metus, et mollis nisl dapibus vitae. Proin in iaculis nibh. Curabitur egestas nibh bibendum nisi pellentesque, eget congue mauris maximus. Nunc consequat fringilla congue. Vestibulum ultricies, metus non fringilla pellentesque, quam dui euismod ex, non aliquet ligula felis sagittis lorem. Quisque ullamcorper leo vitae pretium placerat. Curabitur facilisis porta molestie. In sed augue sollicitudin, tincidunt nisl eget, tempus nibh.</p>
        <br>
        <p>Cras placerat arcu odio, eget luctus nulla luctus vitae. Integer et leo eu ligula fringilla aliquam nec ac dolor. Nullam ac ornare nisi. Sed sollicitudin nibh at lobortis suscipit. Etiam cursus diam ut metus auctor, in iaculis nunc efficitur. Aenean bibendum enim eget nulla efficitur, id euismod arcu tincidunt. Pellentesque a risus et turpis fringilla vestibulum. Aliquam ac porttitor tellus. Cras tristique commodo nisi, vitae fermentum nisl tempor id. Phasellus enim erat, dignissim sed malesuada at, mattis at ligula.</p>
      </div>
    </div>
  </div>

</div>