<div class="post-author margin-top-30">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <p>Autor</p>
        <img src="img/editor.jpg" alt="">
        <h4>Lorem Ipsum Dolor</h4>
        <p class="author-resume">Cras placerat arcu odio, eget luctus nulla luctus vitae. Integer et leo eu ligula fringilla aliquam nec ac dolor. Nullam ac ornare nisi. Sed sollicitudin nibh at lobortis suscipit.</p>
      </div>
    </div>
  </div>

</div>