<div class="post-info">
  <div class="container-fluid">
    <div class="row"></div>
    <div class="row">
      <div class="col-xs-12">
        <div class="post-name">  
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-sm-12 margin-top-20">
                  <div class="name">
                    <i class="fa fa-circle circle-left" aria-hidden="true"></i>
                    <h4>Banana Split con barquillos</h4>              
                    <i class="fa fa-circle circle-right" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-xs-12">
                  <p class="date">01/05/2017</p>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>