<div class="related-post">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 margin-top-50">
      <img class="mas" src="img/mas.png" alt="">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="masonry margin-top-50">
        <div class="grid-sizer"></div>

        <div class="grid-item grid-item--width1">

          <div class="post-generic">

            <div class="graphic">
              <div class="darken"></div>
              <img src="img/panqueques.jpg" alt="">
              <div class="post-name">           
                <div class="name">
                  <i class="fa fa-circle circle-left" aria-hidden="true"></i>            
                  <p>Lorem ipsum dolor</p>              
                  <i class="fa fa-circle circle-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div class="categories-post-gn">
              <div class="container-fluid padding-0">
                <div class="row margin-0">
                  <div class="col-md-12 padding-0">

                    <ul class="categories">
                      <li class="category ct-1"><a href="#">categoria 1</a></li>
                      <li class="category ct-2"><a href="#">categoria 2</a></li>
                    </ul> 

                  </div>

                  <div class="col-md-12 padding-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                 
                  </div>

                  <div class="col-md-12 padding-0">
                    <a class="mas-info" href="post-interno.html">ver más</a>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="grid-item grid-item--width1">

          <div class="post-generic">

            <div class="graphic">
              <div class="darken"></div>
              <img src="img/cupcakes.jpg" alt="">
              <div class="post-name">           
                <div class="name">
                  <i class="fa fa-circle circle-left" aria-hidden="true"></i>            
                  <p>Lorem ipsum dolor</p>              
                  <i class="fa fa-circle circle-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div class="categories-post-gn">
              <div class="container-fluid padding-0">
                <div class="row margin-0">
                  <div class="col-md-12 padding-0">

                    <ul class="categories">
                      <li class="category ct-1"><a href="#">categoria 1</a></li>
                      <li class="category ct-2"><a href="#">categoria 2</a></li>
                    </ul> 

                  </div>

                  <div class="col-md-12 padding-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                 
                  </div>

                  <div class="col-md-12 padding-0">
                    <a class="mas-info" href="post-interno.html">ver más</a>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- 3 -->
        <div class="grid-item grid-item--width1">

          <div class="post-generic">

            <div class="graphic">
              <div class="darken"></div>
              <img src="img/chocolate-cake.jpg" alt="">
              <div class="post-name">           
                <div class="name">
                  <i class="fa fa-circle circle-left" aria-hidden="true"></i>            
                  <p>Lorem ipsum dolor</p>              
                  <i class="fa fa-circle circle-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div class="categories-post-gn">
              <div class="container-fluid padding-0">
                <div class="row margin-0">
                  <div class="col-md-12 padding-0">

                    <ul class="categories">
                      <li class="category ct-1"><a href="#">categoria 1</a></li>
                      <li class="category ct-2"><a href="#">categoria 2</a></li>
                    </ul> 

                  </div>

                  <div class="col-md-12 padding-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                 
                  </div>

                  <div class="col-md-12 padding-0">
                    <a class="mas-info" href="post-interno.html">ver más</a>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>