<div class="resume-editorial">
  <div class="container-fluid padding-0">
    <div class="row margin-0">
      <div class="col-xs-12 col-sm-12">
        <h3>Paladar viajero</h3>
        <p>Edit ipsum dolor sit amet, consectetur adipisicing elit, consectetur adipisicing elit.</p>  
      </div>

      <div class="col-xs-12 col-sm-12">
        <a class="mas-info" href="post-interno.html">ver más</a>
      </div>

    </div>
  </div>
</div>