<div class="container-fluid margin-top-05">
  <div class="col-md-12">
    <div class="row marca">
      <img class="img-responsive" src="img/postres-de-mi-abuela.jpg" alt="Postres de mi abuela">
      <hr class="line">
    </div>

    <div class="row menu-lateral">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#">Nuestro blog</a></li>
        <li role="presentation"><a href="#">Colaboradores</a></li>
        <li role="presentation"><a href="#">Escribenos</a></li>
      </ul>
    </div>


    <div class="row">
      <div class="wrapper-categories">
        <ul class="categories">
          <li class="category ct-1"><a href="#">categoria 1</a></li>
          <li class="category ct-2"><a href="#">categoria 2</a></li>
          <li class="category ct-3"><a href="#">categoria 3</a></li>
          <li class="category ct-4"><a href="#">categoria 4</a></li>
          <li class="category ct-5"><a href="#">categoria 5</a></li>
          <li class="category ct-6"><a href="#">categoria 6</a></li>
          <li class="category ct-7"><a href="#">categoria 7</a></li>
          <li class="category ct-8"><a href="#">categoria 8</a></li>
        </ul>
      </div>
    </div>

    <div class="row">

      <div class="footer">
        <!-- sociales -->
        <div class="row social">
          <hr class="line">
          <div class="col-xs-4 col-md-2 col-md-offset-2 text-center">
            <a href="https://es-la.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
          <div class="col-xs-4 col-md-2 col-md-offset-1 text-center">
            <a href="https://es-la.facebook.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
          <div class="col-xs-4 col-md-2 col-md-offset-1 text-center">
            <a href="https://es-la.facebook.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </div>
        </div>

        <div class="row registrado">
          <div class="col-md-12 text-center">
            <p>Postres de mi abuela © 2017</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>